.navbar-container{
 display: flex;
 justify-content: space-between;
 padding: 10px;   
 background-color: #333;
 color: white;
 position: relative;


 
}
.logo-app{
 font-size: 1.5em;
 display: flex;
 text-align: center;
 padding-top: 15px;
}
.activacion{
    display: none;
}

.opc-navbar{

    display: flex;
    gap: 35px;
    
     
}
.opcion {
    padding: 4px 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .opcion:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

/*
.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
  }
  
  .logo-app {
    font-size: 24px;
    font-weight: bold;
  }
  
  .activacion {
  display: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Estilos para el menú desplegable */
  /*.opc-navbar {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Efecto de vidrio esmerilado */
    /*border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0; /* Ocultar el menú inicialmente */
 /* }
  
  .opc-navbar.active {
    display: flex;
    max-height: 400px; /* Ajusta según el tamaño de tu menú */
  /*}
  
  .opcion {
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .opcion:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Último elemento sin borde inferior */
  /*.opcion:last-child {
    border-bottom: none;
  }*/
  