
.App {
  background: linear-gradient(to bottom , #d1bbfa, #3553b4);
  min-height: 100vh;
  font-family: ubuntu, sans-serif;
   };

 h1{
  font-size:38px;
 }
.sub-text-titulo {
  text-align: center;
  justify-content: center;
  position: relative;  
  background: linear-gradient(99deg,#f503e1  , #660ff1);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.container-api{

  display: flex;
  align-items: center;
  justify-content: center;
   
}


/* Media Query para pantallas pequeñas */
@media (max-width: 758px) {
  .text-principal {
    font-size: 5vw; /* Aumenta el tamaño del texto para pantallas más pequeñas */
  }
}

/* Media Query para pantallas grandes */
@media (min-width: 1200px) {
  .text-principal {
    font-size: 4vw; /* Ajusta el tamaño para pantallas grandes */
  }
}
